div {
    border: 15px solid green;
    padding: 50px
}

h1.myfirstHeadline {
    background-color: black
}

div.Calculators {
    background-color: green
}

a {
    color: greenyellow
}

a:hover {
    color: orange
  }